<section class="hero is-dark is-fullheight">
    <div class="hero-head">

    </div>
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <article class="container has-text-centered">
                        <h1 class=title>William Blacknall</h1>
                        <p class="subtitle">Software Engineer/Home Chef</p>
                    </article>
                </div>
                <div class="tile is-child">
                        <div class="tabs is-centered is-boxed">
                                <ul>
                                <li onclick="openTab('Background')"><a>Background</a></li>
                                <li onclick="openTab('Projects')"><a>Projects</a></li>
                                <li onclick="openTab('Skills')"><a>Skills</a></li>
                                <li onclick="openTab('Interests')"><a>Interests</a></li>
                                </ul>
                            </div>
                    <article class="content has-text-centered box" style="background-color: #545454; color: white;">
                        <div id="Background" class="info-tab">
                            <section class="tile is-ancestor">
                                <div class="tile is-parent">
                                    <div class="tile is-child">
                                        <p class="subtitle">Born in Flint, Raised in Atlanta</p>
                                        <article class="content has-text-justified">
                                            <p> Greetings and salutations! My name is William Blacknall and I am a pseudo-homechef, software engineer, teacher, and lifelong student. I left the field of teaching to pursue my passion for technology and software development, and while I do miss my students and colleagues, I am excited about the opportunities of the future. <br><br>
                                            
                                            Much like technology, the world of education and effective teaching is always changing. My teaching background allows me to quickly break down and process new information, as my entire career has been centered around mincing complex information into managable chunks for young adolescents to understand. This makes me not only a quick learner, but also a great mentor.</p>
                                        </article>
                                    </div>
                                </div>
                                <div class="tile is-parent">
                                        <div class="tile is-child">
                                            <figure class=>
                                                <img src="./images/profilesmall.JPG" class="port-pic">
                                            </figure>
                                        </div>
                                    </div>
                            </section>
                        </div>
                        <div id="Projects" style="display: none;" class="info-tab">
                            <div class="columns">
                                <div class="column has-text-justified">
                                    <p class="subtitle has-text-centered">MyVitaLog</p>
                                    <figure class="image">
                                        <img src="./images/MyVitaLog-Thumbnail.png" class="port-pic">
                                        <figcaption><a href="https://www.myvitalog.com/">MyVitalog.com</a></figcaption>
                                    </figure>
                                    <ul>
                                        <li><strong>Role:</strong> UI/UX designer, styler, and navigational functionality.</li>
                                        <li><strong>Description:</strong> Interactive health and nutrition website designed to help users keep track of their calorie and nutrient intake.</li>
                                        <li><strong>Features:</strong> USDA food search API, Account Creation, Meal Tracking.</li>
                                        <li><strong>Tools:</strong> Node.js, Express, PostgreSQL, BulmaCSS.</li>
                                    </ul>
                                </div>
                                <div class="column">
                                    <p class="subtitle has-text-centered">NSAmericas</p>
                                    <figure class="image">
                                        
                                    </figure>
                                    <ul>
                                        
                                    </ul>
                                </div>
                                <div class="column">
                                    <p class="subtitle has-text-centered">React Project</p>
                                </div>
                            </div>
                        </div>
                        <div id="Skills" style="display: none;" class="info-tab">
                            <p>Are you familiar with the terror dome?</p>
                        </div>
                        <div id="Interests" style="display: none;" class="info-tab">
                            <p>WELCOME TO THE TERROR DOME!</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
            
    </div>
</section>