<section class="hero is-dark is-fullheight">
    <div class="hero-head">

    </div>
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <article class="container has-text-centered">
                        <h1 class=title>William Blacknall</h1>
                        <p class="subtitle">Software Engineer/Home Chef</p>
                    </article>
                </div>
                <div class="tile is-child box">
                    <article class="content has-text-centered">
                        <p> Here's where the magic will happen.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
            
    </div>
</section>