<section class="hero is-dark is-fullheight">
    <div class="hero-head">

    </div>
    <div class="hero-body">
        <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <article class="container has-text-centered">
                        <h1 class=title>William Blacknall</h1>
                        <p class="subtitle">Software Engineer/Home Chef</p>
                    </article>
                </div>
                <div class="tile is-child">
                        <div class="tabs is-centered is-boxed">
                                <ul>
                                <li onclick="openTab('Background')"><a>Background</a></li>
                                <li onclick="openTab('Projects')"><a>Skills</a></li>
                                <li onclick="openTab('Skills')"><a>Projects</a></li>
                                <li onclick="openTab('Interests')"><a>Interests</a></li>
                                </ul>
                            </div>
                    <article class="content has-text-centered box">
                        <div id="Background" class="info-tab">
                            <section class="tile is-ancestor">
                                <div class="tile is-parent">
                                    <div class="tile is-child">
                                        <p class="subtitle" style="color: black;">Born in Flint, Raised in Atlanta</p>
                                        <article class="content has-text-justified">
                                            <p> Greetings and salutations! My name is William Blacknall and I am a pseudo-homechef, software engineer, teacher, and lifelong student. I got my B.S.Ed in Middle Grades Education with a concentration in Math and Science from Georgia Southern University, and have four years of teaching experience. I left the field of teaching to pursue my passion for technology and software development, and while I do miss my students and colleagues dearly, I am excited about the opportunities of the future.</p>
                                        </article>
                                    </div>
                                </div>
                                <div class="tile is-parent">
                                        <div class="tile is-child">
                                            <figure class=>
                                                <img src="./images/profilesmall.JPG">
                                            </figure>
                                        </div>
                                    </div>
                            </section>
                        </div>
                        <div id="Projects" style="display: none;" class="info-tab">
                            <p>Here's another test</p>
                        </div>
                        <div id="Skills" style="display: none;" class="info-tab">
                            <p>Are you familiar with the terror dome?</p>
                        </div>
                        <div id="Interests" style="display: none;" class="info-tab">
                            <p>WELCOME TO THE TERROR DOME!</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
            
    </div>
</section>